/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-shime1 {
  background-image: url(~sprite.png);
  background-position: 0px 0px;
  width: 128px;
  height: 128px;
}
.icon-shime2 {
  background-image: url(~sprite.png);
  background-position: -128px 0px;
  width: 128px;
  height: 128px;
}
.icon-shime3 {
  background-image: url(~sprite.png);
  background-position: 0px -128px;
  width: 128px;
  height: 128px;
}
