.rabbit {
    position: absolute;
    left: 100px;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
}

#rabbit1 {
    top: 50px
}

#rabbit2 {
    top: 200px
}

#rabbit3 {
    top: 350px
}

#rabbit4 {
    top: 500px
}

#rabbit5 {
    left: 500px;
    top: 50px
}#rabbit6 {
    left: 500px;
    top: 0;
}